<app-headerSite style=" text-align: center; width: 100%;" titulo="Intraner escolar" ></app-headerSite>


<ion-content class="center" (window:resize)="onResize($event)">

    
    <ion-col class="center">
        <ion-card class="noBorder">
            <ion-card-header>
                <h4 class="theme" style="text-align:center">
                    Recuperación o cambio de contraseña
                </h4>

            </ion-card-header>
            <ion-card-content>

                <form size="12" size-md="6" sizeLg="4" autocomplete="off" [formGroup]="formPassword"
                    (ngSubmit)="onSubmit()"
                    style="max-width:350px; margin:auto; border-radius:20px; padding:25px;  box-shadow: 5px 10px #888888;">
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input class="form-control" type="email" placeholder="Correo electrónico"
                            formControlName="email" [class.is-invalid]="correoNoValido"></ion-input>
                    </ion-item>
                     
                    <ion-row>
                        <ion-col>
                            <ion-button color="secondary" type="submit" expand="block">Recuaperar contraseña</ion-button>
                             
                        </ion-col>
                    </ion-row>
                </form>
            </ion-card-content>
        </ion-card>


    </ion-col>

    <app-footerSite *ngIf="flagScreen" ></app-footerSite>
</ion-content>