<!-- <ion-footer  class="center footer">
  <ion-toolbar color="tertiary">
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer> -->

<footer class="footer-distributed">

  <div class="footer-left">

    <img src="/assets/img/logo/libam.png" alt="">

    <p class="footer-links">
      <a  routerLink="'/home'"   (click)="navigateTo('/home')" style="cursor:pointer"> Inicio </a> -
      <a  routerLink="'/conocenos'"   (click)="navigateTo('/conocenos')" style="cursor:pointer"> Conocenos </a> -
      <a  routerLink="'/oferta'"   (click)="navigateTo('/oferta')" style="cursor:pointer"> Oferta </a> -
      <a  routerLink="'/contacto'"   (click)="navigateTo('/contacto')" style="cursor:pointer"> Contacto </a>
    </p>

    <p class="footer-company-name">Colegio Libertadores de América &copy; 2021</p>
  </div>

  <div class="footer-center">
    <hr>
    <p>Jardin de niños - Estancia infantil</p>
    <div>
      <div>
        <ion-icon name="location" color="primary"> </ion-icon>
        <p>&#32;&#32; Av. Adolfo Lopez Mateos 742 <span>Nezahualcoyotl, Estado de México</span></p>
      </div>

      <div>
        <ion-icon name="call" color="primary"></ion-icon>
        <p>&#32;&#32;<a href="tel:5577361170" style="color:white;">(55) 57361170</a> </p>
      </div>

      <div>
        <ion-icon name="mail" color="primary"></ion-icon>
        <p>&#32;&#32; <a href="mailto:contacto@colegiolibam.com" style="color:white;">contacto@colegiolibam.com</a></p>
      </div>
    </div>
    <hr>
    <p>Primaria</p>
    <div>
      <div>
        <ion-icon name="location" color="primary"> </ion-icon>
        <p>&#32;&#32; Av. Adolfo Lopez Mateos 750 <span>Nezahualcoyotl, Estado de México</span></p>
      </div>

      <div>
        <ion-icon name="call" color="primary"></ion-icon>
        <p>&#32;&#32;<a href="tel:5557434444" style="color:white;">(55) 57434444</a> </p>
      </div>

      <div>
        <ion-icon name="mail" color="primary"></ion-icon>
        <p>&#32;&#32; <a href="mailto:contacto@colegiolibam.com" style="color:white;">contacto@colegiolibam.com</a></p>
      </div>
    </div>


  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span> Nuestra prioridad es lo que mas te importa</span>
     
    </p>

    <div class="footer-icons">

      <a>
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a>
        <ion-icon name="logo-whatsapp"></ion-icon>
      </a>




    </div>

  </div>

</footer>