<ion-header (window:resize)="onResize($event)">

  <ion-toolbar *ngIf="!flagScreen" color="primary" style="margin-bottom: -20px;">
    <ion-title class="ion-text-capitalize" *ngIf="titulo">{{ titulo }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="titulo">
      <ion-back-button defaultHref="/" text="Inicio" color="secondary" mode="ios"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- style="background-color: #019342;     margin-bottom: -20px;" -->

  <div id="menu" class="center" *ngIf="flagScreen"   style="border-bottom: 4px solid #bb1100"
>
    <img src="/assets/img/logo/text.png" style="width: 380px; margin-top:15px" />
    <div style="line-height: 50px;">
      <ion-button color="primary" *ngFor="let c of componentes" routerLink="'c.redirectTo'" routerLinkActive="active"
        (click)="navigateTo(c.redirectTo)">{{ c.name }} </ion-button>
    </div>
  </div>
</ion-header>   