<app-header style="margin: auto; width: 100%;" titulo="Inscripción"></app-header>
<ion-content *ngIf="onConstruction">
    <ion-row>
        <ion-col size="12" class="center">
            <ion-card class="noBorder">
                <img src="assets/img/construccion.png" />
                <ion-card-header>
                    <h4 class=" filosofia animated infinite pulse">
                        En estos momentos nos encontramos en construcción
                    </h4>

                </ion-card-header>
                <ion-card-content>
                    <ion-label>
                        Cualquier duda no dude en contactarnos...
                    </ion-label>
                    <ion-button class="btnSlide" color="primary" (click)="navigateTo('/contacto')">
                        Contacto

                    </ion-button>

                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
<ion-content (window:resize)="onResize($event)" *ngIf="!onConstruction">
    <ion-col size="12" class="center" style="top: 0;">
        <h4 class="theme" style="text-align:center">
            Inscripción
        </h4>
    </ion-col>
    <ion-col size="12">
        <ion-card>
            <ion-card-content>
                <ion-list>
                    <ion-list-header>
                    </ion-list-header>
                    <ion-list-header>
                        <ion-label class="cinta ">
                            En apoyo a su economía tenemos las cuotas más bajas de esta zona, ofreciéndole Calidad Educativa. Te invitamos a que realice su pago de inscripción para el Ciclo Escolar 2022-2023
                        </ion-label>
                    </ion-list-header>
                </ion-list>

            </ion-card-content>
        </ion-card>
    </ion-col>

    <!-- Version web -->
    <div class="container90 " *ngIf="flagScreen ">
        <ion-col col-12 class=" note1 ">
            <ion-label>Promoción y precios validos hasta el 15 de Marzo del 2022
            </ion-label>
        </ion-col>
        <ion-col col-12 class=" note2 ">
            <ion-label>Si trae un invitado y se inscribe, tu pago de inscripción es "GRATUITA"
            </ion-label>
        </ion-col>
        <!-- Requisitos card -->
        <ion-card class="  noBorder">

            <ion-card-header class="subTitle center">
                Requisitos
            </ion-card-header>
            <ion-card-content class="center">
                <ul class="lstNumber">
                    <li> <b>Formato de Solicitud de inscripción completamente requisitada y firmada para el ciclo
                            escolar
                            2022-2023</b>
                    </li>
                    <li> <b>Contrato de prestación de servicios educativos 2022-2023 (Asistir al colegio para requisita
                            y
                            firmar)</b>
                    </li>
                    <li> <b>Reglamento escolar 2022-2023 (asistir al colegio para requisita y firmar) </b></li>
                    <li> <b>Acta de nacimiento del alumno</b></li>
                    <li> <b>CURP del alumno en nuevo formato</b></li>
                    <li> <b>4 fotografías del alumno tamaño infantil</b></li>
                    <li> <b>Comprobante de domicilio</b></li>
                    <li> <b>Identificación oficial de la persona que quedará como tutora y responsable de recoger al
                            alumno a la
                            hora de salida</b> </li>
                    <li> <b>CURP de la Persona que quedará como RESPONSABLE ante SEP</b></li>
                    <li> <b>Identificación oficial de persona(s) SUPLENTE(s) en caso el responsable no pueda asistir</b>
                    </li>
                    <li> <b>CURP de persona(s) SUPLENTE(s) en caso el responsable no pueda asistir</b></li>
                    <li> <b>2 fotografías de cada persona responsable del alumno</b></li>
                </ul>
            </ion-card-content>
        </ion-card>
        <!-- Cuotas Pricing -->
        <ion-card class="noBorder">
            <ion-card-header class=" subTitle center ">
                Cuotas 1° Primaría
            </ion-card-header>
            <ion-card-content>
                <ion-row>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Gasto Anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>

                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Inscripción C/Desc</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Gasto Anual C/Desc</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Colegiatura Preferente</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                    </ion-col> -->
                </ion-row>

                <ion-row>

                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1600.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1450.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1750.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$750.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1650.00</ion-label>
                    </ion-col>
                    <!--                     
                    <ion-col col-4 class="center">
                        <ion-label class="pricing">De $1600 </ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="pricing">$1450</ion-label>
                    </ion-col> -->
                    <!-- <ion-col col-3 center>
                        <ion-label class="pricing">$1650</ion-label>
                    </ion-col> -->
                </ion-row>

                <ion-card-header class=" subTitle center ">
                    Cuotas 2°- 6° Primaría
                </ion-card-header>
                <ion-row>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Gasto Anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>

                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Inscripción C/Desc</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Gasto Anual C/Desc</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Colegiatura Preferente</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>

                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1600.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1450.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1750.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1650.00</ion-label>
                    </ion-col>
                    <!--                     
                                                    <ion-col col-4 class="center">
                                                        <ion-label class="pricing">De $1600 </ion-label>
                                                    </ion-col>
                                                    <ion-col col-4 class="center">
                                                        <ion-label class="pricing">$1450</ion-label>
                                                    </ion-col> -->
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-card-header class=" subTitle center ">
                    Tiempo Completo (Incluye desayuno, comida y colegiatura)
                </ion-card-header>
                <ion-row>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Gasto Anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricing"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>

                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Inscripción C/Desc</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Gasto Anual C/Desc</b></ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="tablePricingDesc"><b>Colegiatura Preferente</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>

                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1600.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1450.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$4000.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-2 class="center">
                        <ion-label class="pricing">$3800.00</ion-label>
                    </ion-col>

                </ion-row>


                <ion-row>

                    <ion-col col-6 class=" note1 ">
                        <ion-label>Pagando junto la Inscripción y los Gastos Anuales se respeta la<br>
                            <b>COLEGIATURA PREFERENTE</b>
                        </ion-label>
                    </ion-col>
                    <ion-col col-6 class="note2">
                        <ion-label> Pago del 1 al 10 de cada mes a plazo de 12 meses <br></ion-label>
                    </ion-col>

                </ion-row>

                <!-- Pagos a 10 y 12 meses -->

            </ion-card-content>
        </ion-card>

        <!-- Notas de inscripcion -->
        <ion-card style="background:#eee">
            <ion-card-header class="subTitle center">
                Notas
            </ion-card-header>
            <ion-card-content>
                <ul class="lstNumber">
                    <li>
                        <b>Si trae un invitado y se inscribe, tu pago de reinscripción es gratuita.</b>
                    </li>
                    <li>
                        Para obtener los beneficios correspondientes al ciclo escolar <b>2022-2023</b> , es necesario no tener ningún adeudo al momento de la inscripción.
                    </li>
                    <li>
                        Si inscribe durante los meses de FEBRERO, MARZO de 2022, recibirá un descuento en la Inscripción y Gasto Anual y pagará <b>COLEGIATURAS PREFERENTES</b> durante todo el ciclo escolar 2022-2023.
                    </li>
                    <li>
                        Los alumnos que obtengan beca otorgada por el Gobierno del Estado de México, esta se establecerá con base en la colegiatura normal, que es de <b> $1750.00</b>, ya que el alumno no podrá gozar de dos beneficios.
                    </li>

                </ul>
            </ion-card-content>
        </ion-card>


        <!-- Tarjetas banners -->
        <!-- <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="6">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle style="   height:90px; overflow:hidden;"><img src="/assets/img/inscripciones.jpg" style="  width:100%; height:auto " alt="Inscripciónes en LIBAM"> </ion-card-subtitle>
                            <ion-card-title>INSCRIPCIÓN GRATUITA </ion-card-title>
                        </ion-card-header>
                        <ion-card-content style="height: 150px;  ">
                            “Si trae un invitado y se inscribe, tu pago de reinscripción es gratuita"
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="6">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle style="   height:90px; overflow:hidden;"><img src="/assets/img/primaria.jpg" style="  width:100%; height:auto " alt=" Obtenga colegiatura preferente "></ion-card-subtitle>
                            <ion-card-title>COLEGIATURA PREFERENTE </ion-card-title>
                        </ion-card-header>

                        <ion-card-content style="height: 150px;  ">
                            Pagando junto la Inscripción y los Gastos Anuales se respeta la COLEGIATURA PREFERENTE
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="6">
                    <ion-card>
                        <ion-card-header>
                            <ion-card-subtitle style="   height:90px; overflow:hidden;"><img src="/assets/img/primaria.jpg" style="  width:100%; height:auto " alt="Obtenga colegiatura preferente "></ion-card-subtitle>
                            <ion-card-title>NOTA</ion-card-title>
                        </ion-card-header>
                        <ion-card-content style="height: 150px; overflow-y: scroll;">
                            Los alumnos que obtengan beca otorgada por el Gobierno del Estado de México, esta se establecerá con base en la colegiatura normal, que es de $1650.00, ya que el alumno no podrá gozar de dos beneficios.
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid> -->
    </div>
    <!-- Version Mobile -->
    <div *ngIf="!flagScreen">
        <!-- Requisitos card -->
        <ion-card class="  noBorder">
            <ion-col col-12 class=" note1 ">
                <ion-label>Promoción y precios validos hasta el 15 de Marzo del 2022
                </ion-label>
            </ion-col>


            <ion-card-header class="subTitle center">
                Requisitos
            </ion-card-header>
            <ion-card-content>
                <ul class="lstNumber">
                    <li> <b>Formato de Solicitud de inscripción completamente requisitada y firmada para el ciclo
                            escolar
                            2022-2023</b>
                    </li>
                    <li> <b>Contrato de prestación de servicios educativos 2022-2023 (Asistir al colegio para requisita
                            y
                            firmar)</b>
                    </li>
                    <li> <b>Reglamento escolar 2022-2023 (asistir al colegio para requisita y firmar) </b></li>
                    <li> <b>Acta de nacimiento del alumno</b></li>
                    <li> <b>CURP del alumno en nuevo formato</b></li>
                    <li> <b>4 fotografías del alumno tamaño infantil</b></li>
                    <li> <b>Comprobante de domicilio</b></li>
                    <li> <b>Identificación oficial de la persona que quedará como tutora y responsable de recoger al
                            alumno a la
                            hora de salida</b> </li>
                    <li> <b>CURP de la Persona que quedará como RESPONSABLE ante SEP</b></li>
                    <li> <b>Identificación oficial de persona(s) SUPLENTE(s) en caso el responsable no pueda asistir</b>
                    </li>
                    <li> <b>CURP de persona(s) SUPLENTE(s) en caso el responsable no pueda asistir</b></li>
                    <li> <b>2 fotografías de cada persona responsable del alumno</b></li>
                </ul>
            </ion-card-content>
        </ion-card>
        <!-- Cuotas Pricing -->
        <ion-card class="noBorder">
            <ion-col col-12 class=" note2 ">
                <ion-label>Si trae un invitado y se inscribe, tu pago de inscripción es "GRATUITA"
                </ion-label>
            </ion-col>
            <ion-card-content>
                <ion-card-header class=" subTitle center ">
                    Cuotas 1° de Primaria
                </ion-card-header>
                <ion-row>

                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Gasto anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1600.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1450.00 </ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1750.00</ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>

                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Gasto anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$750.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1200.00 </ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1650.00</ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-card-header class=" subTitle center ">
                    Cuotas 2°- 6° Primaría
                </ion-card-header>
                <ion-row>

                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Gasto anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1600.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1450.00 </ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1750.00</ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>

                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Gasto anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1200.00 </ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1650.00</ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-card-header class=" subTitle center ">
                    Tiempo Completo (Incluye desayuno, comida y colegiatura)
                </ion-card-header>
                <ion-row>

                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Gasto anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricing"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1600.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1450.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$4000.00</ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>

                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Inscripción Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Gasto anual Normal</b></ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="tablePricingDesc"><b>Colegiatura Normal</b></ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="rowPricing"><b>Colegiatura</b></ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1200.00</ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$1200.00 </ion-label>
                    </ion-col>
                    <ion-col col-4 class="center">
                        <ion-label class="rowPricing">$3800.00</ion-label>
                    </ion-col>
                    <!-- <ion-col col-3 center>
                                                        <ion-label class="pricing">$1650</ion-label>
                                                    </ion-col> -->
                </ion-row>
                <ion-col col-6 class=" note1 ">
                    <ion-label>Pagando junto la Inscripción y los Gastos Anuales se respeta la<br>
                        <b>COLEGIATURA PREFERENTE</b>
                    </ion-label>
                </ion-col>
                <ion-col col-6 class="note2">
                    <ion-label> Pago del 1 al 10 de cada mes a plazo de 12 meses <br></ion-label>
                </ion-col>

            </ion-card-content>
        </ion-card>

        <!-- Notas de inscripcion -->
        <ion-card style="background:#eee">
            <ion-card-header class="subTitle center">
                Notas
            </ion-card-header>
            <ion-card-content>
                <ul class="lstNumber">
                    <li>
                        <b>Si trae un invitado y se inscribe, tu pago de inscripción es gratuita.</b>
                    </li>
                    <li>
                        <b>Para obtener los beneficios correspondientes al ciclo escolar 2022-2023, es necesario no
                            tener ningún adeudo al momento de la inscripción.</b>
                    </li>
                    <li>
                        <b>Si inscribe durante los meses de FEBRERO, MARZO de 2021, recibirá un descuento en la
                            Inscripción y Gasto Anual y pagará COLEGIATURAS PREFERENTES durante todo el ciclo escolar
                            2022-2023.</b>
                    </li>
                    <li>
                        <b>Los alumnos que obtengan beca otorgada por el Gobierno del Estado de México, esta se
                            establecerá con base en la colegiatura normal, que es de $1650.00, ya que el alumno no podrá
                            gozar de dos beneficios.</b>
                    </li>

                </ul>
            </ion-card-content>
        </ion-card>

        <!-- Tarjetas banners -->
        <!-- <ion-grid>
            <ion-row>
                <ion-card class="noBorder" style=" width:100%;">
                    <ion-card-header class="center">
                        <ion-card-subtitle style=" height:110px; overflow:hidden;"><img src="/assets/img/inscripciones.jpg" alt="Inscripciónes en LIBAM"> </ion-card-subtitle>
                        <ion-card-title>Tu reinscripción es gratuita </ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="height: 80px; overflow-y: scroll;" class="center">
                        “Si trae un invitado y se inscribe, tu pago de reinscripción es gratuita"
                    </ion-card-content>
                </ion-card>
                <ion-card class="noBorder" style=" width:100%;">
                    <ion-card-header class="center">
                        <ion-card-subtitle style="    height:110px; overflow:hidden;"><img src="/assets/img/primaria.jpg" style="  width:60%; height:auto " alt=" Obtenga colegiatura preferente "></ion-card-subtitle>
                        <ion-card-title>COLEGIATURA PREFERENTE </ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="height: 80px; overflow-y: scroll;" class="center">
                        Pagando junto la Inscripción y los Gastos Anuales se respeta la COLEGIATURA PREFERENTE
                    </ion-card-content>
                </ion-card>
                <ion-card class="noBorder" style=" width:100%;">
                    <ion-card-header class="center">
                        <ion-card-subtitle style="     height:110px; overflow:hidden;"><img src="/assets/img/primaria.jpg" style="  width:60%; height:auto " alt="Obtenga colegiatura preferente "></ion-card-subtitle>
                        <ion-card-title>Nota </ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="height: 80px; overflow-y: scroll;" class="center">
                        Los alumnos que obtengan beca otorgada por el Gobierno del Estado de México, esta se establecerá con base en la colegiatura normal, que es de $1650.00, ya que el alumno no podrá gozar de dos beneficios.
                    </ion-card-content>
                </ion-card>
            </ion-row>
        </ion-grid> -->
    </div>
    <div class="container70 " style="margin-bottom:50px; ">
        <app-slider [slider]="slider"></app-slider>
    </div>
    <app-footer *ngIf="flagScreen "></app-footer>
</ion-content>
<app-footer-mobile *ngIf="!flagScreen "></app-footer-mobile>