<!-- <app-header style=" text-align: center; width: 100%;" titulo="Login"></app-header> -->


<ion-content class="center" (window:resize)="onResize($event)">

    <ion-col size="12" class="center" style="top: 0;">


    </ion-col>

    <ion-col class="center">
        <ion-card>
            <ion-card-header>
                <h4 class="theme" style="text-align:center">
                    Creación de cuenta
                </h4>

            </ion-card-header>
            <ion-card-content>

                <form size="12" size-md="6" sizeLg="4" autocomplete="off" [formGroup]="formRegistration"
                    (ngSubmit)="onSubmit()"
                    style="max-width:350px; margin:auto; border-radius:20px; padding:25px;  box-shadow: 5px 10px #888888;">
                    <ion-item lines="full">
                        <ion-label position="floating">Email</ion-label>
                        <ion-input class="form-control" type="email" placeholder="Correo electrónico"
                            formControlName="email" [class.is-invalid]="correoNoValido"></ion-input>
                    </ion-item>
                    <ion-item lines="full">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input class="form-control" type="password" placeholder="Contraseña"
                            formControlName="password" [class.is-invalid]="passwordNoValido"></ion-input>
                    </ion-item>
                    <ion-row>
                        <ion-col>
                            <ion-button color="secondary" type="submit" expand="block">Registro</ion-button>
                            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
                            <ion-button color="google" type="submit" expand="block">Registro con Google</ion-button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-card-content>
        </ion-card>


    </ion-col>

    <app-footerSite *ngIf="flagScreen" ></app-footerSite>
</ion-content>