<app-headerSite style=" text-align: center; width: 100%;" [titulo]="text"></app-headerSite>


<ion-content class="center" (window:resize)="onResize($event)">


  <ion-col class="center">
    <ion-card>
      <ion-card-header>
        <h4 class="theme" style="text-align:center">
          {{text}}
        </h4>

      </ion-card-header>
      <ion-card-content>

        <form size="12" autocomplete="off" [formGroup]="formProfesor" (ngSubmit)="onSubmit()"
          style="  margin:auto; border-radius:20px; padding:25px;  box-shadow: 5px 10px #888888;">


          <ion-row>


            <ion-col size="12" size-md="6" class="fleft tjustify ">

              <ion-label position="floating">Fecha de creacion</ion-label>
              <ion-datetime display-format="DD MMMM YYYY" formControlName="createDate" [disabled]="disabled"
                [readonly]="true"></ion-datetime>
            </ion-col>
            <ion-col size="12" size-md="6" class="fleft tjustify ">

              <ion-label position="floating">Tipo de profesor</ion-label>
              <ion-select class="form-control" formControlName="type" [disabled]="disabled"
                placeholder="Selecciona una">
                <ion-select-option value="PRB">Profesor base</ion-select-option>
                <ion-select-option value="PRC">Profesor de materias cocurriculares</ion-select-option>
              </ion-select>

            </ion-col>

          </ion-row>

          <!-- Informacion personal  -->


          <ion-card>
            <ion-card-header>
              <ion-card-title>Información personal</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-row>
                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Fecha nacimiento</ion-label>

                  <ion-datetime display-format="DD MMMM YYYY" placeholder="Fecha de nacimiento"
                    formControlName="bornDate" [disabled]="disabled" [readonly]="readonly"></ion-datetime>


                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Nombre(s)</ion-label>
                  <ion-input class="form-control" type="text" placeholder="Ingresa nombre(s)" formControlName="name"
                    [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Apellido Paterno</ion-label>
                  <ion-input class="form-control" type="text" placeholder="Ingresa apellido paterno"
                    formControlName="lastName" [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
              </ion-row>
              <ion-row>

                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Apellido Materno</ion-label>
                  <ion-input class="form-control" type="text" placeholder="Ingresa apellido materno"
                    formControlName="surName" [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Edad</ion-label>
                  <ion-input class="form-control" type="number" placeholder="Edad" formControlName="age"
                    [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>

              </ion-row>
            </ion-card-content>
          </ion-card>




          <!-- Informacion salud -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Información de salud</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-row>

                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Tipo de sangre</ion-label>
                  <ion-select class="form-control" formControlName="bloodType" [disabled]="disabled"
                    placeholder="Selecciona una">
                    <ion-select-option value="A+">A+</ion-select-option>
                    <ion-select-option value="A-">A-</ion-select-option>
                    <ion-select-option value="B+">B+</ion-select-option>
                    <ion-select-option value="B-">B-</ion-select-option>
                    <ion-select-option value="AB+">AB+</ion-select-option>
                    <ion-select-option value="AB-">AB-</ion-select-option>
                    <ion-select-option value="O+">O+</ion-select-option>
                    <ion-select-option value="O-">O-</ion-select-option>
                  </ion-select>

                </ion-col>
              </ion-row>
              <ion-row>

                <ion-col size="12" class="fleft tjustify ">

                  <ion-label position="floating">Alergias</ion-label>

                  <ion-textarea class="form-control" placeholder="Si tiene alguna alergia favor de describirla"
                    formControlName="allegies" [disabled]="disabled" [readonly]="readonly">
                  </ion-textarea>

                </ion-col>

              </ion-row>
            </ion-card-content>
          </ion-card>
          <!-- Información de contacto -->
          <ion-card>
            <ion-card-header>
              <ion-card-title>Información de contacto</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-row>

              </ion-row>
              <ion-col size="12" size-md="6" class="fleft tjustify ">

                <ion-label position="floating">Correo elctronico</ion-label>
                <ion-input class="form-control" type="email" placeholder="Ingrese su correo electronico"
                  formControlName="email" [disabled]="disabled" [readonly]="readEmail">
                </ion-input>

              </ion-col>
              <ion-row>

                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Nombre del primer contacto</ion-label>
                  <ion-input class="form-control" type="text" placeholder="Ingrese nombre completo"
                    formControlName="namePhone1" [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Teléfono</ion-label>
                  <ion-input class="form-control" type="phone" placeholder="Ingresa teléfono" formControlName="phone1"
                    [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
              </ion-row>


              <ion-row>

                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Nombre del segundo contacto</ion-label>
                  <ion-input class="form-control" type="text" placeholder="Ingresa nombre completo"
                    formControlName="namePhone2" [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
                <ion-col size="12" size-md="6" class="fleft tjustify ">

                  <ion-label position="floating">Teléfono</ion-label>
                  <ion-input class="form-control" type="phone" placeholder="Ingresa teléfono" formControlName="phone2"
                    [disabled]="disabled" [readonly]="readonly">
                  </ion-input>

                </ion-col>
              </ion-row>

              <ion-row>

                <ion-col size="12" class="fleft tjustify ">

                  <ion-label position="floating">Dirección</ion-label>

                  <ion-textarea class="form-control" placeholder="Ingresa la dirección de casa"
                    formControlName="direction" [disabled]="disabled" [readonly]="readonly">
                  </ion-textarea>

                </ion-col>

              </ion-row>

            </ion-card-content>
          </ion-card>

          <ion-row>
            <ion-col>
              <ion-button color="secondary" type="submit" expand="block" *ngIf="type === 'Register'">Registrar
              </ion-button>
              <ion-button color="secondary" expand="block" *ngIf="type === 'View'"
                (click)="navigateTo('site/views/profesors')">Salir</ion-button>
              <ion-button color="secondary" (click)="updateProfesor()" expand="block" *ngIf="type === 'Edit'">Editar
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-content>