<app-headerSite style=" text-align: center; width: 100%;" titulo="Intraner escolar Inicio"></app-headerSite>
<ion-content *ngIf="onConstruction">
    <ion-row>
        <ion-col size="12" class="center">
            <ion-card class="noBorder">
                <img src="assets/img/construccion.png" />
                <ion-header>
                    <h4 class=" filosofia animated infinite pulse">
                        En estos momentos nos encontramos en construcción
                    </h4>

                </ion-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>

<ion-content class="center" (window:resize)="onResize($event)" *ngIf="!onConstruction">

    <ion-col size="12" class="center" style="top: 0;">
        <h4 style="text-align:center" class="theme animated1  bounceInRight" *ngIf="role=='ADM'">
            Administrador
        </h4>
        <h4 style="text-align:center" class="theme animated1  bounceInRight" *ngIf="role=='STD'">
            Estudiante
        </h4>
        <h4 style="text-align:center" class="theme animated1  bounceInRight" *ngIf="role=='PDF'">
            Padre de Familia
        </h4>
        <h4 style="text-align:center" class="theme animated1  bounceInRight" *ngIf="role=='PRC'">
            Profesor base
        </h4>
        <h4 style="text-align:center" class="theme animated1  bounceInRight" *ngIf="role=='PRN'">
            Profesor materias extras
        </h4>

        <h4 style="text-align:center" class="theme animated1  bounceInRight" *ngIf="role==''">
            Bienvenido
        </h4>

    </ion-col>


    <div class="clearboth"></div>

    <ion-col size="12">
        <ion-card class="animated fadeIn" *ngIf="role !=='ADM'">

            <ion-card-header color="primary">
                <ion-card-title><span>Por favor de terminar de llenar su registro
                        <!-- <strong>{{user.email}}</strong>-->
                    </span>
                </ion-card-title>
                <ion-card-subtitle>
                    <ion-button color="secondary" expand="block">
                        Registro
                    </ion-button>
                </ion-card-subtitle>

            </ion-card-header>


        </ion-card>

        <ion-col size="12" size-md="4" class="fLeft">
            <ion-card class="animated fadeIn" *ngIf="role =='ADM'">
                <ion-card-header color="primary">
                    <img src="/assets/img/mision.png" style="margin:auto; width: 180px; height: 120px;">
                    <ion-card-title>Ingresar Alumnos
                    </ion-card-title>
                    <ion-card-subtitle>
                        <ion-button color="secondary" expand="block"  
                        [routerLink]="['/site/informacion-estudiante']" [queryParams]="{type: 'Register'}"
                         >
                            Registrar Alumnos
                        </ion-button>
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="4" class="fLeft">
            <ion-card class="animated fadeIn" *ngIf="role =='ADM'">
                <ion-card-header color="primary">
                    <img src="/assets/img/mision.png" style="margin:auto; width: 180px; height: 120px;">
                    <ion-card-title>Ingresar Clases
                    </ion-card-title>
                    <ion-card-subtitle>
                        <ion-button color="secondary" expand="block">
                            Registrar clases
                        </ion-button>
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="4" class="fLeft">
            <ion-card class="animated fadeIn" *ngIf="role =='ADM'">
                <ion-card-header color="primary">
                    <img src="/assets/img/mision.png" style="margin:auto; width: 180px; height: 120px;">
                    <ion-card-title>Blog Nuevo
                    </ion-card-title>
                    <ion-card-subtitle>
                        <ion-button color="secondary" expand="block">
                            Registrar nuevo comunicado
                        </ion-button>
                    </ion-card-subtitle>
                </ion-card-header>
            </ion-card>
        </ion-col>

    </ion-col>
    <!-- 
    <div class="clearboth"></div>

    <div class="container70 center">
        <ion-col size="12" class="fLeft  animated1  bounceInRight">
            <ion-col size="12">
                <h4 style=" color: #b89f2b;  font-size: 35px; font-weight: 800;">
                    Misión
                </h4>
            </ion-col>

            <ion-col size="12" size-lg="6" size-md="4" class="fLeft ion-padding-bottom">
                <img src="/assets/img/mision.png" style="margin:auto; width: 100% ;max-height: 150px;">

            </ion-col>
            <ion-col size="12" size-lg="6" size-md="8" class="fLeft ion-padding-bottom">
                <p>
                    Formar alumnos críticos, constructivos, respetuosos con un alto sentido de honor, para engrandecer
                    con su trabajo y eficacia a México.
                </p>
            </ion-col>
        </ion-col>


    </div>
    <div class="container70">
        <ion-col size="12" class="center  animated1  bounceInLeft">
            <ion-col size="12" class="fLeft ">
                <h4 style=" color: #b89f2b;  font-size: 35px; font-weight: 800;">
                    Visión
                </h4>
            </ion-col>

            <ion-col size="12" size-lg="6" size-md="4" class="fLeft ion-padding-bottom">
                <img src="/assets/img/vision.jpg" style="margin:auto; width: 100% ;max-height: 150px;">

            </ion-col>
            <ion-col size="12" size-lg="6" size-md="8" class="fLeft ion-padding-bottom">
                <p>
                    Rescatar la esencia del niño, con altos valores humanos, destacando nuestra identidad, para
                    engrandecer nuestra nación.
                </p>
            </ion-col>
        </ion-col>


    </div>

    <div class="clearboth"></div> -->

    <ion-col style=" clear: both;float:left;"> </ion-col>


</ion-content>