<ion-col size="12" size-md="6" class="fLeft">
    <ion-card>

        <ion-card-header color="primary">
            <ion-card-subtitle>Se parte de nuestra institución educativa</ion-card-subtitle>
            <ion-card-title>Inscripciónes</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button class="btnSlide" color="secondary" (click)="navigateTo('/inscripcion')">
                Inscripciónes

            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-col>
<ion-col size="12" size-md="6" class="fLeft">
    <ion-card>

        <ion-card-header color="primary">
            <ion-card-subtitle>Continua en nuestra institución educativa</ion-card-subtitle>
            <ion-card-title>Reinscripciones</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button class="btnSlide" color="secondary" (click)="navigateTo('/reinscripcion')">
                Inscripciónes

            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-col>
<!-- <ion-col size="12" size-md="6" sizeLg="4" class="fLeft">
    <ion-card>
        <img src="/assets/img/img2.jpg" class="imgGrado">
        <ion-card-header color="primary">
            <ion-card-subtitle>PPR3554X</ion-card-subtitle>
            <ion-card-title>PREESCOLAR</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>
</ion-col> -->