<app-header></app-header>
<ion-content  (window:resize)="onResize($event)"> 
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="center">
        <h1 class="initTitle">Colegio Libertadores de América</h1>
        <img src="/assets/img/logo/l_200.png">
      </ion-col>
      <!-- *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]" -->
      <!-- <ion-col size="12" size-lg="3" size-md="4" size-sm="6" > -->
        <ion-col size="12" class="center">
 
    <h4 class="filosofia ">
       ¡FORMANDO LIDERES QUE CAMBIARAN AL MUNDO! 
  </h4>
    <p style="text-align: justify;">Contribuir a formar generaciones de alumnos de educación básica, con un nivel académico y cultural de excelencia, con principios y valores sólidos, en un ambiente armónico, con orden, disciplina y respeto, capaces de trascender como ciudadanos responsables del mundo, participando en los cambios culturales, sociales, tecnológicos y políticos de su comunidad.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="container70">
    <app-slider></app-slider>
  </div>
  <app-footer *ngIf="flagScreen"></app-footer> 
</ion-content>
<app-footer-mobile *ngIf="!flagScreen"></app-footer-mobile> 