<app-header style="margin: auto; width: 100%;" class="animated1  fadeIn"></app-header>
<ion-content *ngIf="onConstruction">
    <ion-row>
        <ion-col size="12" class="center">
            <ion-card class="noBorder">
                <img src="assets/img/construccion.png" />
                <ion-header>
                    <h4 class=" filosofia animated infinite pulse">
                        En estos momentos nos encontramos en construcción
                    </h4>

                </ion-header>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>

<ion-content (window:resize)="onResize($event)" *ngIf="!onConstruction">
    <ion-grid fixed>
        <ion-row>

            <ion-col size="12" class="center" style="margin-top: 25px;">
                <img src="/assets/img/logo/logo-txt.png" class="animated1  bounceInRight">
                <img src="/assets/img/recurso2.png" class="animated1  bounceInLeft">
            </ion-col>
            <ion-col size="12" class="center ">
                <h4 class=" filosofia animated infinite pulse">
                    ¡FORMANDO LIDERES QUE CAMBIARAN AL MUNDO!
                </h4>
                <p style="text-align: justify;
    margin: 0px 0px 4px;
    padding: 0px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;">Contribuir a formar generaciones de alumnos de educación básica, con un nivel académico y cultural de excelencia, con principios y valores sólidos, en un ambiente armónico, con orden, disciplina y respeto, capaces de trascender como ciudadanos
                    responsables del mundo, participando en los cambios culturales, sociales, tecnológicos y políticos de su comunidad.</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="container70">
        <ion-card class="card-background-page" class="center noBorder">
            <img src="/assets/img/logo/logo.jpg" class="pad25" />
            <h4 class=" filosofia ">
                Protocolo Covid-19
            </h4>
            <div class="containre70">
                <p style="text-align: justify;
                margin:50px;
                padding: 0px;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.4px;
                text-transform: uppercase;">

                    El COLEGIO LIBERTADORES DE AMÉRICA preocupado por la seguridad de la comunidad estudiantil ha procurado informarse de todas las medidas de seguridad que las autoridades sanitarias han dictado.</p>



            </div>

            <ion-button (click)="openModal()" expand="full">
                Mas información
            </ion-button>
        </ion-card>
    </div>

    <div class="container70">
        <app-slider [slider]="slider"></app-slider>
    </div>
    <app-footer *ngIf="flagScreen"></app-footer>
</ion-content>
<app-footer-mobile *ngIf="!flagScreen"></app-footer-mobile>