<app-header style="margin: auto; width: 100%;" titulo="Contacto"></app-header>

<ion-content (window:resize)="onResize($event)">

    <ion-col size="12" class="center" style="top: 0;">
        <h4 class="theme animated1  bounceInRight" style="text-align:center">
            Contactenos
        </h4>
        <ion-img src="/assets/img/ninos2.png" class="animated1  bounceInLeft" style="max-width: 800px; margin-left: auto;margin-right: auto;"></ion-img>

    </ion-col>



    <ion-col size="12" size-md="6" class="fLeft">
        <ion-card>
            <ion-card-content>
                <ion-list>
                    <ion-list-header>
                        <ion-label class="cinta"><b>Póngase en contacto con nosotros, con gusto le
                                atenderemos.</b></ion-label>
                    </ion-list-header>
                    <ion-list-header>
                        <ion-label class="cinta">Si requiere de mayor información, sea tan amable de proporcionarnos sus datos en los espacios en blanco para atenderlo adecuadamente.</ion-label>
                    </ion-list-header>
                </ion-list>
                <form #contactoForm="ngForm" name="contactoForm" (ngSubmit)="sendEmail(contactoForm)">


                    <ion-item style="margin-top: 35px;">
                        <ion-label>Nombre:</ion-label>
                        <ion-input type="text" placeholder="Nombre" [(ngModel)]="contact.user_name" name="user_name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Email:</ion-label>
                        <ion-input type="email" placeholder="Email" [(ngModel)]="contact.user_email" name="user_email" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required></ion-input>
                    </ion-item>
                    <!-- <ion-item>
                        <ion-label>Telefono:</ion-label>
                        <ion-input type="text" placeholder="Telefono" [(ngModel)]="contact.phone" name="phone">
                        </ion-input>
                    </ion-item> -->

                    <ion-item>
                        <ion-label>Mensaje:</ion-label>
                        <ion-input type="text" name="message" [(ngModel)]="contact.message" required placeholder="Mensaje">
                        </ion-input>
                    </ion-item>


                    <ion-button [disabled]="contactoForm.invalid" type="submit" expand="block" color="primary">
                        Enviar
                    </ion-button>

                </form>
            </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="12" size-md="6" class="  fLeft center ">
        <ion-list-header class="theme center">

            <ion-label class="center">
                <ion-icon name="location" color="tertiary"></ion-icon> Nos ubicamos.</ion-label>
        </ion-list-header>


        <ion-card-header class="center">
            <ion-card-title color="secondary" style=" text-decoration: none;line-height: 25px;">Jardin de niños - Estancia infantil</ion-card-title>
            <ion-card-subtitle>
                <ion-icon name="call" color="primary"> &#32;&#32; </ion-icon> <a href="tel:5557361170" style=" text-decoration: none; color: #000; ">&#32;&#32;(55) 57361170</a> <br>

            </ion-card-subtitle>
            <ion-card-subtitle>
                <ion-icon name="logo-whatsapp" color="primary"> &#32;&#32; </ion-icon> <a href="'https://api.whatsapp.com/send?phone=525531194077&text=Hola%20requiero%20informacion%20del%20Jardin%20de%20Niños.'" style=" text-decoration: none; color: #000;">&#32;&#32;(55) 57361170</a>
            </ion-card-subtitle>

            <ion-card-subtitle class="center">

                <a [href]="'https://goo.gl/maps/WKJ2tSxdrKrw1nau6'" target="_blank" style=" text-decoration: none; color:#000">


                    <ion-icon name="location" color="primary" style="color: #000 !important; line-height: 25px;">
                        &#32;&#32;
                    </ion-icon>
                    Av. Adolfo López Mateos 742 Col. Benito Juarez
                </a>
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.8912763854887!2d-99.02132468509056!3d19.41710304620755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fcb612ef1d03%3A0x36d96cb85f9faebd!2sAv.%20Adolfo%20L%C3%B3pez%20Mateos%20742%2C%20Las%20Flores%2C%2057310%20Nezahualc%C3%B3yotl%2C%20M%C3%A9x.!5e0!3m2!1ses-419!2smx!4v1615609534628!5m2!1ses-419!2smx"
                style="width:100%; height:auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </ion-card-content>
        <ion-card-header class="center">
            <ion-card-title color="secondary" style=" text-decoration: none;line-height: 25px;">
                Primaria</ion-card-title>
            <ion-card-subtitle>
                <ion-icon name="call" color="primary"> &#32;&#32; </ion-icon> <a href="tel:5557434444" style=" text-decoration: none; color: #000; ">&#32;&#32;(55) 57434444</a> <br>

            </ion-card-subtitle>
            <ion-card-subtitle class="center">
                <ion-icon name="logo-whatsapp" color="primary"> &#32;&#32; </ion-icon> <a href="'https://api.whatsapp.com/send?phone=525531194077&text=Hola%20requiero%20informacion%20de%20la%20primaria.'" style=" text-decoration: none; color: #000;">&#32;&#32;(55) 5531194077</a>
            </ion-card-subtitle>

            <ion-card-subtitle class="center">

                <a [href]="'https://g.page/ColegioLIBAM?share'" target="_blank" style=" text-decoration: none; color:#000">


                    <ion-icon name="location" color="primary" style="color: #000 !important; line-height: 25px;">
                        &#32;&#32;
                    </ion-icon>
                    Av. Adolfo López Mateos 750 Col. Benito Juarez
                </a>
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content class="center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.8885354411573!2d-99.02124108509054!3d19.417221446203737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fcb66d42c053%3A0xbd786756eab53699!2sColegio%20Libertadores%20de%20Am%C3%A9rica!5e0!3m2!1ses-419!2smx!4v1615608864368!5m2!1ses-419!2smx"
                style="width:100%; height:auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

        </ion-card-content>



    </ion-col>

    <div class="container70" style="margin-bottom:50px;">
        <app-slider [slider]="slider"></app-slider>
    </div>



    <app-footer *ngIf="flagScreen"></app-footer>
</ion-content>
<app-footer-mobile *ngIf="!flagScreen"></app-footer-mobile>